*.log
/node_modules
wp-content/themes/klinika/project
wp-content/themes/klinika/result-image-optimizer
wp-content/themes/klinika/src
wp-content/themes/klinika/*.html
wp-content/themes/klinika/old.txt
wp-content/themes/klinika/.gulp
/mixin
/*.html
/db
/node_modules
/wp-admin
/wp-includes
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz